<html>
    <head>

			<link rel="stylesheet" href="./css/bootstrap.css">
			<link rel="stylesheet" href="./css/bootstrap-superhero.css">
			<link rel="stylesheet" href="./css/jquery-ui.css">
			<!--<link rel="stylesheet" href="./css/bootstrap-theme.css">-->
			<link rel="stylesheet" href="./css/melaxThree.css">

			<script src="./scripts/jquery-2.2.4.js"></script>
			<script src="./scripts/bootstrap.js"></script>
			<script src="./scripts/jquery-ui.js"></script>

        <script>
            $(document).ready(function () {
                //console.log("hellooooo");
                $("#btnListGo").click(function (){
                    var model = $( "#model_list option:selected" ).text();
                    var location = "/readyModel?model=" + model;
                    window.location.href = location;
                    //console.log($( "#model_list option:selected" ).text());
                });

								$("#btnUploadGo").click(function(){
                	window.location.href = "/uploadModel";
								});
            });
        </script>
    </head>

    <body>
        <!-- main div container -->
        <div class="container-fluid">
            <!-- left span -->
            <div class="col-md-3"></div>

            <!-- content div -->
            <div class="col-md-6">
                <!-- ready model -->
                <div class="well well-lg">
                   
                        <h1>Select a model</h1>

                        <div class="col-md-10">
                            <select class="form-control" id="model_list">
                                <!--<option>Walthead</option>-->
                                <option>Suzanne</option>
																<option>Cow</option>
																<option>Torus Decimated</option>
																<option>Torus Full</option>
																<option>suzanne2</script>
																<option>suzanne3</script>
                                <!--<option>Bunny</option>-->
                            </select>
                        </div>

                        <div class="col-md-2">
                            <button id="btnListGo" type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                        </div>
                        
                        <br><br>
                   
                </div>

                <!-- upload new model -->
                <div class="well well-lg">
										<div>
										</div>
                    <h1>Upload a new model</h1>

                    	<button id="btnUploadGo" type="button" class="btn btn-success">
												<span class="glyphicon glyphicon-arrow-right"></span>
											</button>

										<br><br><br>
                    <div class="alert alert-warning" role="alert"> Currently only Three.js json model files are supported </div>
                    <!--<div class="alert alert-danger" role="alert"> Not implemented yet </div>-->
                </div>

            </div>

            <!-- right span -->
            <div class="col-md-3"></div>
        </div>
    </body>
</html>
