<html>
	<head>
		<link rel="stylesheet" href="./css/bootstrap.css">
		<link rel="stylesheet" href="./css/bootstrap-superhero.css">
		<link rel="stylesheet" href="./css/jquery-ui.css">
		<!--<link rel="stylesheet" href="./css/bootstrap-theme.css">-->
		<link rel="stylesheet" href="./css/melaxThree.css">

		<script src="./scripts/jquery-2.2.4.js"></script>
		<script src="./scripts/bootstrap.js"></script>
		<script src="./scripts/jquery-ui.js"></script>

		<script>
			$(document).ready(function(){
				console.log("document is ready");

				$("#fooContinuous").click(function(){
					window.location.href = "/continuousStart";
				});

				$("#fooDiscrete").click(function(){
					window.location.href = "/discreteStart";
				});
			});
		</script>
	</head>

	<body>

		<div class = "container-fluid">
			<p>
				<h1> Select what you want to use</h1>
			</p>

			<br>

			<p>
				<h2 id = "fooContinuous"> Continuous LOD </h2>

				<br>

				{Insert a small description for the Continuous LOD}
			</p>

			<br>

			<p>
				<h2 id = "fooDiscrete"> Discrete LOD </h2>

				<br>

				{Insert a small description for the Discrete LOD}
			</p>

		</div>

	</body>
</html>
