<!--
<?php

if (!isset($_GET["model"])) {
    echo "<script> window.location.href = \"../index.php\";</script>";
}
?>
-->

<html>
    <head>
			<link rel="stylesheet" href="./css/bootstrap.css">
			<link rel="stylesheet" href="./css/bootstrap-superhero.css">
			<link rel="stylesheet" href="./css/jquery-ui.css">
			<!--<link rel="stylesheet" href="./css/bootstrap-theme.css">-->
			<link rel="stylesheet" href="./css/melaxThree.css">

			<script src="./scripts/jquery-2.2.4.js"></script>
			<script src="./scripts/bootstrap.js"></script>
			<script src="./scripts/jquery-ui.js"></script>
        
      <script src="./scripts/progressive/three.js"></script>
      <script src="./scripts/progressive/OrbitControls.js"></script>
      <script src="./scripts/progressive/stats.min.js"></script>
      <script src="./scripts/progressive/SubdivisionModifier.js"></script>
      <script src="./scripts/progressive/SimplifyModifier.js"></script>
      <script src="./scripts/progressive/ProgModelEditor.js"></script>
        
        <script>
            $(document).ready(function (){
								$("#btnHelp").click(function(){
									var icon  = document.createElement("span");
									icon.className = "glyphicon glyphicon-education";

									if($("#btnHelp").text() === "Show help"){
										$("#btnHelp").text("Hide Help ");
										$("#btnHelp").append(icon);
									}else{
										$("#btnHelp").text("Show Help ");
										$("#btnHelp").append(icon);
									}
								});

								$.ajax({
									url: "/askModel",
									success: runEditor
								});
                                //TODO: return of getDom is empty because is called before model is loaded
                //$("#mainDiv").append(progModelEditor.getDom());
            });

						function runEditor(modelName){
							//var modelName = "<?php echo $_GET["model"]?>";
							var progModelEditor = new ProgModelEditor();
							console.log("modelName: " + modelName);
							progModelEditor.loadModel(modelName);
						};

        </script>
    </head>
    <body>
        <div id="mainDiv">

           <div class="container">
							<button id="btnHelp" type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"> Show Help <span class="glyphicon glyphicon-education"></span> </button>
							<div id="demo" class="collapse">
								This is an editor for choosing <strong>LODs</strong> that correspond to <strong>'qualityRanking'</strong> attribute of an <strong>MPD</strong> file. <br><br>

								1 - Move the slider below until you reach a desired LOD. Then click the "set as qualityRanking" button to add it in the quality rankings list. <br>
								2 - When ready click the "Calculate LOD Diffs" button. This might take a while. <br>
								3 - Click the "Show model" button to preview an X3D scene containing the resulting progressive model.
							</div>
					</div> 
        </div>

    </body>
</html>
